{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

<style>
    .main_header {
        text-align: center;
    }

    .recipe_header {
        display: flex;
        margin: auto;
        max-width: 800px;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .recipe_header:nth-of-type(1) {
        margin-top: 20px;
    }



    /* .home>.recipe_header {
        display: flex;
        margin: auto;
        max-width: 800px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .home>.recipe_header~.recipe_header {
        margin-top: 0px;
    } */


    .recipe_title {
        flex: 1.2;
    }

    .recipe_image {
        flex: 0.8;
        text-align: right;
    }

    .recipe_image img {
        width: 100%;
        height: 100%;
        max-height: 295px;
        max-width: 260px;
    }

    .delete_button {
        margin-top: 15px;
    }

    #recipe_url {
        margin: 0px 10px 10px 0px;
        display: inline-block;
    }

    @media (max-width: 1100px) {
        .recipe_image img {
            max-height: 230px;
            max-width: 200px;
        }
    }

    @media (max-width: 800px) {
        .recipe_image img {
            max-height: 170px;
            max-width: 150px;
        }

        .accordion-button-collapsed {
            font-size: 20px;
            width: fit-content;
            padding: 0 10px;
        }

        .recipe_title h2 {
            font-size: 20px;
        }

        #recipe_url {
            margin: 0;
            font-size: 15px;
        }
    }
</style>


<div class="main_header">
    <h1>Your Cookbook</h1>
</div>

{% for recipe in recipes %}
<div class="recipe_header">
    <div class="{{ 'recipe_title ' ~ recipe.id }}">
        <h2>{{ recipe.title }}</h2>

        <a href="{{ recipe.url }}" target="_blank" id="recipe_url">Go to recipe </a>

        <div class="accordion" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="{{ '#one' ~ recipe.id }}" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                        Ingredients
                    </button>
                </h2>
                <div id="{{ 'one' ~ recipe.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {% for ing in recipe.ingredients %}
                        <li>{{ ing }}</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="{{ '#two' ~ recipe.id }}" aria-expanded="false"
                        aria-controls="flush-collapseTwo">
                        Instructions
                    </button>
                </h2>
                <div id="{{ 'two' ~ recipe.id }}" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        {{ recipe.instructions }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button-collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="{{ '#three' ~ recipe.id }}" aria-expanded="false"
                        aria-controls="flush-collapseThree">
                        Nutrients
                    </button>
                </h2>
                <div id="{{ 'three' ~ recipe.id }}" class="accordion-collapse collapse"
                    aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <li>Calories: {{recipe.calories}}</li>
                        <li>Carbs: {{recipe.carbs}}</li>
                        <li>Fibre: {{recipe.fibre}}</li>
                        <li>Sugar: {{recipe.sugar}}</li>
                        <li>Protein: {{recipe.protein}}</li>
                        <li>Fats: {{recipe.fats}}</li>
                        <li>Saturated Fats: {{recipe.sat_fats}}</li>
                        <li>Serving Size: {{recipe.serving_size}}</li>
                    </div>
                </div>
            </div>
        </div>
        <form class="delete_button" action="/delete" method="POST">
            <button type="submit" value="{{ recipe.title }}" name="delete" class="btn btn-primary my-2">Delete</button>
        </form>
    </div>



    <div class="recipe_image">
        <img id="book_images" src="{{ recipe.img }}" onerror="alert('Image not found or protected');"
            class="card-img-top" alt="...">
    </div>
</div>







<p></p>
<p></p>
<hr>


{% endfor %}

{% endblock %}

<!-- <form action="/ingredients" , method="POST">
                <button href="#" class="btn btn-primary" value="{{ website.url }}" name="search_url">Add to
                    cookbook</button>
            </form> -->