{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}


<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div id="login_success">
    {{msg}}
</div>
{% endfor %}
{% endif %}
{% endwith %} -->


<section class="form-container">
    <div class="container">
        <h1 class="jumbotron-heading">Search Google Recipes</h1>
        <p class="lead text-muted">Get the top nine results of Recipes for your query!</p>
        <form action="/views" method="POST">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control">
            </div>
            <p>
                <button type="submit" name="submit" value="search" class="btn btn-primary my-2">Recipe Search</button>
            </p>
        </form>
    </div>
</section>


<div class="wrapper">
    {% for website in websites %}

    <div class="card">
        <img src="{{ website.image }}" class="card-img-top" alt="...">
        <div class="card-wrapper">
            <div class="card-content">
                <div class="card-body">
                    <h5 class="card-title">{{ website.title }}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's
                        content.
                    </p>
                </div>
                <div class="card-buttons">
                    <a href="{{ website.url }}" class="btn noborder btn-primary" target="_blank">View
                        Recipe</a>
                    <form action="/views/ingredients" , method="POST">
                        <button href="#" class="btn noborder btn-primary" value="{{ website.url }}" name="search_url">
                            Add to cookbook
                        </button>
                    </form>
                </div>
            </div>

        </div>

    </div>



    {% endfor %}


    {% endblock %}