{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
<style>
    .wrapper {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card img {
        width: auto;
        height: auto;
    }


    @media (max-width: 1500px) {
        .wrapper {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 1000px) {
        .wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 500px) {
        .wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>

<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<div id="login_success">
    {{msg}}
</div>
{% endfor %}
{% endif %}
{% endwith %} -->


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Search Google Recipes</h1>
        <p class="lead text-muted">Get the top nine results of Recipes for your query!</p>
        <form action="/views" method="POST">
            <div class="input-group mb-3">
                <input type="text" name="query" class="form-control">
            </div>
            <p>
                <button type="submit" name="submit" value="search" class="btn btn-primary my-2">Recipe Search</button>
            </p>
        </form>
    </div>
</section>


<div class="wrapper">
    {% for website in websites %}

    <div class="card">
        <img src="{{ website.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ website.title }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                the card's
                content.</p>
            <a href="{{ website.url }}" class="btn btn-primary" target="_blank">View Recipe</a>
            <form action="/views/ingredients" , method="POST">
                <button href="#" class="btn btn-primary" value="{{ website.url }}" name="search_url">Add to
                    cookbook</button>
            </form>

        </div>
    </div>

    {% endfor %}


    {% endblock %}