{% extends "layout.html" %}

{% block title %}
Shopping Lists
{% endblock %}






{% block main %}

<div class="main_all">

    <div class="main_header">
        <h2>
            Your saved shopping lists
        </h2>
    </div>
    {% if get_flashed_messages() %}
    <header>
        <div class="flash">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <div class="wrapper shopping">

        {% for ingList in ingLists %}


        <div class="card shopping">
            <h2>
                {{ ingList["name"] }}
            </h2>
            <h4>
                {{ ingList["date"] }}
            </h4>

            <ul>
                {% for item in ingList["ingredients"] %}

                <li>
                    {{item}}
                </li>

                {% endfor %}
            </ul>

            <form class="delete_button" action="/views/delete_shoplist" method="POST">
                <button type="submit" value="{{ ingList['id'] }}" name="delete_shoplist"
                    class="btn noborder">Delete</button>
            </form>

        </div>


        {% endfor %}

    </div>

</div>

<div id="views_saved_check"></div>



{% endblock %}