{% extends "layout.html" %}

{% block title %}
Create ShopLists
{% endblock %}

{% block main %}

<div class="img-container img_shoplist">
</div>

<div class="blocks left ">
    <div class="main_header margin-t-b">
        <h2>
            Choose your Recipes
        </h2>
        <h4>
            1. Select any recipes of which you want to include the ingredients
        </h4>
    </div>


    <div class="main_block">


        <div class="shoplist_container">
            {% for item in recipeList %}

            <div class="shoplist">
                <ul>
                    <input class="recipe_checkbox checkbox" type="checkbox" value="{{ item }}" id="{{ item }}">
                    <label for="{{ item }}">{{ item }}</label>
                </ul>
            </div>

            {% endfor %}
        </div>
    </div>
</div>

<div class="blocks right">
    <div class="main_header margin-t-b">
        <h2>
            Shopping List
        </h2>
        <h4>
            2. Now delete any ingredients you already have at home or add new ones to the shopping list
        </h4>
    </div>


    <div class="Ing_div">
        <div class="background_block">

        </div>

        <div class="ing_container">
            <div class="create_shoplist">

                <div class="main_header margin-t">
                    <h3>Name of the shopping list</h3>
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control" id="shoplist_name" name="shoplist_name"
                        placeholder="Give your shopping list a name" type="text">
                </div>




            </div>

            <div class="ing_subContainer">
                <div class="main_header">
                    <h3>Ingredients</h3>
                </div>
                <ul class="all_ingredients">
                    <ul class="ings">

                    </ul>

                </ul>

                <ul class="all_new_ingredients">

                </ul>

                <div class="shoplist-buttons">
                    <button tabindex="-1" class="btn noborder" id="delete_ing">
                        Delete marked
                    </button>
                    <button tabindex="-1" class="btn noborder" id="mark_ing" value="mark">
                        Mark All
                    </button>
                </div>

                <div class="form-group flex">
                    <input autocomplete="off" class="form-control" id="new_ing_form" name="new_ing"
                        placeholder="Press space to add ingredient" type="text">
                    <button class="btn" id="new_ing">
                        Add
                    </button>
                </div>
            </div>





            <ion-icon name="checkmark" size="large" class="checkmark"></ion-icon>


            <div class="form-group flex commit">
                <button type="button" class="btn primary" id="render_shoplist">
                    Create your Shopping List
                </button>
                <form action="/views/savedLists" method="GET">
                    <button class="btn noborder" id="create_shoplist" disabled=true>
                        <ion-icon name="chevron-forward-circle" class="right-arrow"></ion-icon>
                    </button>
                </form>
            </div>











        </div>
    </div>

</div>



<div id="views_shop_check"></div>



{% endblock %}

<!-- <form action="/ingredients" , method="POST">
                <button href="#" class="btn btn-primary" value="{{ website.url }}" name="search_url">Add to
                    cookbook</button>
            </form> -->