{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

<div class="main_header">
    Shopping List
</div>

{% for item in shopList %}
<div class="shoplist">
    <ul>
        <input type="checkbox">{{ item }}
    </ul>
</div>


{% endfor %}

{% endblock %}

<!-- <form action="/ingredients" , method="POST">
                <button href="#" class="btn btn-primary" value="{{ website.url }}" name="search_url">Add to
                    cookbook</button>
            </form> -->