{% extends "layout.html" %}

{% block title %}
Create ShopLists
{% endblock %}

{% block main %}

<div class="main_header">
    <h2>
        Choose your Recipes
    </h2>
    <h4>
        1. Select any recipes of which you want to include the ingredients
    </h4>
</div>


<div class="main_block">


    <div class="shoplist_container">
        {% for item in recipeList %}

        <div class="shoplist">
            <ul>
                <input class="recipe_checkbox checkbox" type="checkbox" value="{{ item }}" id="{{ item }}">
                <label for="{{ item }}">{{ item }}</label>
            </ul>
        </div>

        {% endfor %}
    </div>
</div>


<div class="main_header">
    <h2>
        Shopping List
    </h2>
    <h4>
        2. Now delete any ingredients you already have at home or add new ones to the shopping list
    </h4>
</div>


<div class="Ing_div">
    <div class="background_block">

    </div>

    <div class="ing_container">
        <div class="ing_subContainer">
            <ul class="all_ingredients">
                <ul class="ings">

                </ul>

            </ul>

            <ul class="all_new_ingredients">

            </ul>
        </div>


        <div class="shoplist-buttons">
            <button class="btn" id="delete_ing">
                Delete marked
            </button>
            <button class="btn" id="mark_ing" value="mark">
                Mark All
            </button>
            <button class="btn" id="new_ing">
                Add new Ingredient
            </button>
        </div>



        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="new_ing_form" name="new_ing"
                placeholder="Type New Ingredient" type="text">
        </div>

        <div class="create_shoplist">

            <form class="form-group">
                <input autocomplete="off" class="form-control" id="shoplist_name" name="shoplist_name"
                    placeholder="Give your shopping list a name" type="text">
            </form>

            <form>
                <button type="button" class="btn primary" id="render_shoplist">
                    Pre render your shoplist
                </button>
            </form>

            <form action="/views/savedLists" method="GET">
                <button class="btn primary" id="create_shoplist" disabled=true>
                    Create your shopping List!
                </button>
            </form>

        </div>



    </div>
</div>





<div class="back-to-top">
    <a class="targeter" href="#mainblock">
        <ion-icon name="arrow-up-circle-outline" class="targeter" size="large"></ion-icon>
    </a>
</div>

{% endblock %}

<!-- <form action="/ingredients" , method="POST">
                <button href="#" class="btn btn-primary" value="{{ website.url }}" name="search_url">Add to
                    cookbook</button>
            </form> -->