{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}

<div class="main_all">


    <form action="/auth/register" method="post">
        <div class="form-container">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control small" name="username" placeholder="Username"
                    type="text">
            </div>
            <div class="form-group">
                <input class="form-control small" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control small" name="confirmation" placeholder="Confirmation" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </div>

    </form>
</div>

<div id="views_register_check"></div>

{% endblock %}