/* 
Layout 
*/
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    width: 100%;

}

::selection {
    background-color: whitesmoke;
    color: orange;
    border-radius: 5px;
}


main {
    margin: 0;
    opacity: 1;
}

textarea {
    resize: none;
}

.main_all {
    margin-top: 180px;
}

::-webkit-scrollbar {
    border-radius: 15px;
    width: 9px;
    transition: width 2s;
    will-change: width;
  }

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 15px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #081720e0; 
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar:hover {
      width: 15px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #16425e80; 
    
  }

.shoplist {
    animation: transitionIn 1.5s forwards;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-30);
        transform: translate(0, 30px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

a {
    text-decoration: none;
}
#text-decor {
    text-decoration: underline #081720e0;
    color: #081720e0;
}
#text-decor:hover {
    text-decoration: none;
}

hr {
    width: 85%;
    margin: 50px auto;
    color: #081720e0;
    height: 2px;
    background: #081720e0;
    border: none;
}

footer {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.logo-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}
.logos-a {
    transform: translateY(4em) rotateZ(-5deg);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    will-change: transform, opacity;
}
.logos {
    padding: 5px;
    margin: 5px 2vw;
    color: white;
}

/* 
NAVBAR
*/

.blocks {
    opacity: 0;
    transition: all 1s ease-in;
    margin: 100px auto;
}
.left {
    transform: translateX(200px);
}
.right {
    transform: translateX(-200px);
}


.navbar-container {
    background-color: rgb(0,0,0); /*Black fallback color*/
    background-color: #081720e0; /*Black w/opacity */

    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all ease-in-out 0.25s;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.navbar-icon {
    font-size: 30px;
    padding-left: 10px;
    color: honeydew;
}

.navbar-items,
.navbar-logout {
    transition: 1s;
    cursor: pointer;
}

.nav-item {
    font-size: 14px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.6s;
    color: honeydew;
    cursor: pointer;
}
.underlined {
    text-decoration: underline;
}
.open {
    opacity: 0;
}
.height {
    height: 1px;
}

.navbar-icon:hover {
    color: #9ecaed;
}

.nav-item:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.flash {
    display: flex;
    height: 40px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 31, 25, 0.473);
    transition: all 0.5s;
}






/*
Layout
*/

.img-container {
    height: 600px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
}
.img_index {
    background-image: url(./images/food-bg1.jpeg);
}
.img_shoplist {
    background-image: url(./images/food_platter.jpg);
    background-size: cover;
    border-bottom-right-radius: 65%;
}

.img_size_one {
    width: 50vw;
    border-radius: 15px;
    height: 60vh;
    position: relative;
}

.img_rec1 {
    width: 16vw;
    height: 45vh;
    background: url(./images/rec-res.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    top: 45px;
    
}
.img_rec2 {
    width: 16vw;
    height: 45vh;
    background: url(./images/rec-res2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    bottom: 45px;
    
}

.img_board {
    background-image: url(./images/board.jpg);
    width: 30vw;
}

.img_one {
    background: url(./images/search_rec.png);
    height: 40vh;
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img_two {
    background-image: url(./images/create_rec.png);
}

.img_three {
    background-image: url(./images/cookbook-bg7.jpg);
}

.img_four {
    background-image: url(./images/shopcart.jpg);
    width: 40vw;
}

.scroll-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    padding: 20px 0;
    font-size: 18px;
    scroll-snap-align: start;
    padding: 80px 10px;

}
#footer-scroll {
    height: 100vh;
    scroll-snap-align: start;
    margin-top: 0;
}
.color_lemons {
    background: url(./images/lemons.jpg);
}

.color_grey {
    background-color: #9c8181;
    padding: 20px 10px;
    justify-content: space-evenly;
}
.color_blue {
    background-color: rgba(55, 147, 208);
    color: white;
}


.color_yellow {
    background-color: #ffce0057;    
}

.color_green {
    background-color: #325e1680;
    color: white;
}

.color_coming {
    background-image: url(./images/algorithm.jpg);
}



.text-field {
    padding: 10px;
    font-size: 20px;
}

.text_three {
    background: #f5f5f58c;
    border-radius: 15px;
}

.text-plug {
    position: absolute;
    bottom: -40px;
    left: -80px;
    background: #081720eb;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    font-size: 25px;
    border-radius: 15px;
}





/*

Span
Classes 

*/


.font_1_5 {
    font-size: 1.5em;
}

.cover_size {
    font-size: 6vw;
    color: #081720e0;
    background: #08172008;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.span_all {
    width: 100%;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}














/* 
LOGIN 
and 
REGISTER
*/




.flex {
    display: flex;
    width: 70%;
    margin: 0 auto;
    flex-wrap: nowrap;
}

#myImg {
    width: 45%;
    margin: 0 auto;
    opacity: 0;
    will-change: opacity;
    transition: all 0.5s;
}

.min_width {
    width: 70%;
}


.margin_0_auto {
    margin: 100px auto;
    padding: 80px 60px;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
    background-image: url(./images/food_platter.jpg);
    border-radius: 50%/900px 300px 900px 300px;

    position: relative;
    height: 1310px;
    
}

.center-items {
    justify-content: center;
    align-items: center;
}

#search_recipe {
    background-color: #081720e0;
    color: white;
    position: relative;
    bottom: 140px;
}

.form-container {
    box-shadow: 0.5em 0.5em 1em 0.125em rgb(0 0 0 / 20%);
    margin: 30px auto;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(10px, 1fr));
    grid-gap: 5px;
    justify-items: center;
    align-content: center;
    background-color: #f9f4eef7;
    width: 85%;
    border-radius: 15px;
    padding-bottom: 5px;
}


.form-group {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
}

.form-group.flex {
    display: flex;
    flex-direction: row;
    border: none;
    padding: 0;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
}


.form-group.flex.commit {
    margin: 50px auto 20px auto;
    width: 40%;
    border: none;
}


.form-control {
    border: 2px solid #dadada;
    border-radius: 7px;
    height: 35px;
    font-weight: bold;
    flex-grow: 2;
}

.form-control:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.book_img img {
    width: 30px;
    height: 100px;

}

button {
    padding: 5px 6px;
    cursor: pointer;
}

.btn {
    font-size: 14px;
    background-color: #081720e0; /*Black w/opacity */
    color: honeydew;
    border: 2px solid #dadada;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

}

.btn.nohover {
    width: 50px;
    cursor: auto;
}

.btn.nohover:hover {
    transform: none;
}

.noborder {
    font-size: 14px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
}

.btn.primary {
    width: 250px;
    height: 60px;
}

.round {
    border-radius: 10px;
}



.btn:hover, 
.active,
.intro:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.25s ease-in-out; 
} 

/* 
@keyframes expansion {
    from {
    }

    to {
        background-color: aliceblue;
        color: rgba(0,9,23,0.9);
        outline: none;
        transform: scale(1.4, 1.4);
        border-radius: 15px;
    } */
/* }  */  

.intro {
    margin: auto;
    width: fit-content;
    text-align: center;
}











/*
Main Views
*/










.wrapper {
    display: grid;
    grid-gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

/* .card {
    border: aliceblue solid 3px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
} */

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    border: solid 2px black;
    border-radius: 15px;

    /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.5rem 0.8rem, rgba(2, 8, 20, 0.1) 0px 0.27rem 0.575rem; */
    box-shadow: 0.5em 0.5em 1em .125em rgba(0,0,0,.2);
    background-color: rgba(3, 8, 20, 0.1);
    
    height: fit-content;
    width: auto;
    opacity: 0;

    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;

    overflow: hidden;
    cursor: pointer;
    
    will-change: transform, opacity;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





.card img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 230px;
}

.card-wrapper {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.6);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.card:hover .card-wrapper {
    height: 100%;
    bottom: 0;
    box-shadow: rgb(3 8 20 / 10%) 0px 0.5rem 0.8rem, rgb(2 8 20 / 10%) 0px 0.27rem 0.575rem;
    transform: translateY(-3px) scale(1.1);
}

.card-content {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.card-buttons form,
.card-buttons {
    margin-top: 10px;
}











/*
Cookbook
Recipe 
Cards 
*/







.main_header {
    text-align: center;
}
.margin-t-b {
    margin: 70px auto;
}
.margin-t {
    margin-top: 20px;
}
.margin_10 {
    margin: 20px 10px;
}

.pb-container {
    width: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: 0;
    
    margin: 50px auto;
    background: white;
    border-radius: 15px 15px 10px 10px;
}

.photobanner {
    height: 220px;
    white-space: nowrap;

}
/* 
::-webkit-scrollbar {
    display: none;
} */

.photobanner img {
    margin: 15px;
    height: 180px;
    width: 154px;
    border-radius: 50px;
}

.photobanner img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 15px -10px tomato;
    transition: all 0.25s linear;
}

.photobanner img:active {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 15px -10px blue;
    transition: all 0.25s linear;
  }

.cookbook {
    width: 93%;
    margin: 0px auto;
    max-height: 100%;
}




.recipe_header {
    opacity: 1;
    /* transform: translateX(-200px); */
    transition: all 1s;
    will-change: opacity, transform;
    margin: 200px auto;
    max-height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateX(-100px);
}

/* 
.recipe_header:nth-of-type(1) {
    margin-top: 100px;

} */



.recipe_title { 
    border-radius: 15px;
    transition: all ease-in-out 0.15s;
}


.recipe_image{
    /* grid-column: span 3; */
    height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: auto;
    border-radius: 15px 15px 0 0;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.2); /* Black w/opacity */
}


.recipe-name {
    text-align: center;
    z-index: 1;
    color: rgb(235, 229, 229);
    font-size: 1.5em;
    border-radius: 15px;
}

.accordion {
    padding: 2vw;

    background: linear-gradient(rgba(240, 236, 234, 0.925) 30%,rgba(156, 98, 50, 0.603));
    z-index: 1;
    border-radius: 0 0 15px 15px;
    color: black;
    
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 2vw;
    
}
.accordion-item {
    text-align: center;
    overflow: hidden;

    
}

.accordion-item:first-of-type {
    grid-column: span 2;
}


/* .recipe_image {
    grid-column: span 2;
    grid-row: 1;
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    height: 200px;
} */


.collapse-field {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 0;
    transition: all 1s;
    border-radius: 15px;
    text-shadow: 0.5px 0.5px 1px #000000;
}

.open_coll {
    max-height: 600px;
}

.collapse-field.instructions {
    line-height: 35px;
}

.accordion-body.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ingredients li {
    padding: 10px;
}


.targeter {
    margin: 0px 10px 10px 0px;
    display: inline-block;
    color: black;
}






/*
Ad Ons
*/
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: all ease-in-out 0.25s;
    text-align: center;
    z-index: 3;
}







/*

Shopping
List 
Styling

*/










/*
Overlay 
COntent
*/

.overlay{
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    color: #818181;
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.4s;

}

.overlay-content a:hover,
.overlay-content a:focus {
    color: seashell;
}

.btn.close {
    position: absolute;
    top: 2%;
    right: 15%;
    font-size: 45px;
}



/*

CheckBox
Styling

*/



.main_block {

    margin-bottom: 100px;
}

.shoplist_container {
    display: grid;
    margin: 0 0 0 15%;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 13px;
    background-color: #081720e0;
    color: white;
    border-radius: 20px 0 0 20px;
    min-height: 180px;
}


.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    border: 2px solid #7C7A7D;
    border-radius: 5px;
    margin: 0;
    outline: none;
    transition: 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
}


.checkbox:checked {
    border-color: #7C7A7D;
    background-color: #772924;
}


.checkbox:checked:before {
   display: block;
   content: '\2713';
   text-align: center;
   color: #FFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 800;
}


.checkbox:hover {
   opacity: 1.0;
   transform: scale(1.05);
}

.ing_check.checkbox {
    width: 20px;
    height: 20px;
}

.ing_check.checkbox:checked {
    background-color: rgba(27, 27, 78, 0.753);
}

.Ing_div {
    /* background-color: #000000e0; */
    padding: 20px 0;
    position: relative;
}

.background_block {
    min-height: 400px;
    max-height: 600px;
    width: 85%;
    background-color: #081720e0;
    position: absolute;
    z-index: 0;
    border-radius: 0 20px 20px 0;
}


.ing_container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}



.ing_list {
    text-align: start;
    list-style: none;
    transition: opacity 2000ms;
    will-change: opacity;
    
}

.ing_lbl {
    word-wrap: break-word;
    cursor: pointer;
    font-weight: bolder;
}

.ings, .ings_new {
    margin: 0 auto;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    transition: 2s ease-in-out all;
}

#grid-100px {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}



.ing_subContainer {
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgb(3 8 20 / 10%) 0px 0.5rem 0.8rem, rgb(2 8 20 / 10%) 0px 0.27rem 0.575rem;
    background: linear-gradient(rgba(240, 236, 234, 0.925) 40%,rgb(247, 228, 203));
    /* background: linear-gradient(rgba(240, 236, 234, 0.925),rgba(26, 20, 15, 0)); */

    margin: 30px auto;
    
}
#sub_blue {
    background: linear-gradient(30deg, #081720e0, transparent);
}

.ing_subContainer:hover {
    transform: scale(1.005);
    transition: 0.25s all ease-in-out;
}

.shoplist-buttons {
    margin-top: 50px;
}

#new_ing_form {
    flex-grow: 2;
    border: none;
    border-radius: 10px 0 0 10px;
}

#new_ing {
    border-radius: 0 10px 10px 0;
    
}

.create_shoplist {
    color: white;
}

#shoplist_name {
    border: none;
    background: inherit;
    color: inherit;
    border: 1px grey solid;
    margin-top: 15px;
    width: 60%;
}

#render_shoplist,
#create_recipe {
    transition: all ease-in-out 0.5s;
    flex-grow: 2;
    border-radius: 10px 0 0 10px;
    border: none;
}

#create_shoplist,
#goto_recipe {
    height: 60px;
    width: 50px;
    border-radius: 0 10px 10px 0;
    font-size: 30px;
    color: black;
    background: rgb(204, 172, 124);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create_shoplist:hover,
#create_recipe:hover,
#goto_recipe:hover,
#render_shoplist:hover {
    transform: none;
    border: 2px white solid;
}





.checkmark {
    background-color: rgba(62, 165, 62, 0.61);
    width: 100px;
    height: 0;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    transition: all ease-in-out 0.5s;
}



/*

Saved
Shoplist
Styles 



*/



.wrapper.shopping {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 50px;
}

.card.shopping {
    font-size: 16px;
    background: linear-gradient(rgba(64, 142, 214, 0.719),rgba(240, 236, 234, 0.925) 40%);
    border: 2px solid white;
    cursor: auto;
}


.card.shopping:nth-of-type(3n) {
    background: linear-gradient(rgba(240, 236, 234, 0.925) 20%,rgba(91, 180, 128, 0.719));
}

.card.shopping:nth-of-type(3n + 1) {
    background: linear-gradient(rgba(240, 236, 234, 0.925) 20%,rgba(197, 144, 46, 0.719), rgba(240, 236, 234, 0.925));
}

.card.shopping:hover {
    border: 2px solid black;
}



/*

Custom
Styled
ELements

*/

#yin-yang {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #eee;
    border-color: #081720e0;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: relative;
    margin: 40px auto 190px auto;
    animation: rotate 5s infinite linear;
  }
  #yin-yang::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #eee;
    border: 18px solid #081720e0;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  #yin-yang::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #081720e0;
    border: 18px solid #eee;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }

  @keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}


ion-icon {
    font-size: 56px;
}

ion-icon.right-arrow {
    font-size: 32px;
}


footer {
    height: 400px;
    width: 100%;
    background-color: #081720e0;
}







    
/*

Animation 
Styles

*/


.is-visible {
    opacity: 1;
}
.rotate {
    transform: rotate(0);
}
.swoop-in {
    transform: translateX(0);
}














/*
Media 
Queries 
*/



@media (max-width: 1100px) {

    .ing_container {
        width: 89%;
    }
    .margin_0_auto {
        padding: 10px 10px;
        width: 90%;
}

@media (max-width: 1000px) {
    .navbar-items, 
    .navbar-logout{
        opacity: 0;
    }
    .navbar-collapse .open {
        opacity: 1;
    }
    .accordion-item {
        grid-column: span 2;
    }
    .pb-container {
        width: 90%;
    }
    hr {
        width: 70%;
    }
    .img_size_one {
        height: 50vh;
    }
    .span_all {
        font-size: 5vw;
    }
}




@media (max-width: 700px) {
    .card-content {
        font-size: 10px;
    }
    .btn-noborder {
        font-size: 10px;
    }

    #create_recipe_form {
        width: 100%;
    }

    
    .wrapper.shopping {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin-top: 50px;
    }

    

    

    .all_ingredients,
    .all_new_ingredients,
    .ings,
    .ings_new {
        margin: 0;
        padding: 0;
    }

    .form-group.flex {
        width: 80%;
    }

    .form-group.flex.commit {
        width: 60%;
    }

    .form-container {
        margin: 5px auto;
    }
    
    textarea {
        width: 20em;
        resize: none;
    }

    .img_size_one {
        height: 40vh;
    }

    .text-plug {
        width: 80%;
        height: 40%;
    }
}



@media (max-width: 600px) {
    .cookbook {
        width: 98%;
    }
    /* .margin_0_auto {
        border-radius: 0;
    } */

    .img_size_one {
        height: 35vh;
        width: 60vw;
    }
    .text-plug {
        bottom: -40px;
        left: -40px;
    }
    .img_size_one {
        height: 35vh;
        width: 40vw;
    }

    .span_all {
        font-size: 6vw;
    }

}

