/* 
Layout 
*/
html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: "Noto Sans", sans-serif;
    width: 100%;
}

::selection {
    background-color: whitesmoke;
    color: orange;
    border-radius: 5px;
}


main {
    margin: 80px 0;
    opacity: 1;
}




.shoplist {
    animation: transitionIn 1.5s forwards;
}
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-30);
        transform: translate(0, 30px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

a {
    text-decoration: none;
    color: honeydew;
}


/* 
NAVBAR
*/

.navbar-container {
    background-color: rgb(0,0,0); /*Black fallback color*/
    background-color: rgba(0,0,0, 0.85); /*Black w/opacity */

    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all ease-in-out 0.25s;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    transition: 0.4s;
}

.navbar-icon {
    font-size: 30px;
    padding-left: 10px;
}

.navbar-items,
.navbar-logout {
    transition: 1s;
    cursor: pointer;
}

.nav-item {
    font-size: 13px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.6s;
    color: honeydew;
    cursor: pointer;
}
.open {
    opacity: 0;
}

.navbar-icon:hover {
    color: #9ecaed;
}

.nav-item:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.flash {
    display: flex;
    height: 40px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(41, 31, 25, 0.473);
    transition: all 0.5s;
}






/*
Layout
*/

.img-container {
    height: 600px;
    width: 100%;
    background-image: url(./images/food_platter.jpg);
    margin-top: 63px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}







/* 
LOGIN 
and 
REGISTER
*/







.form-container {
    margin: 40px auto;
    width: 400px;
    text-align: center;
}

.form-group {
    padding: 10px;
    margin: 0 auto;
    width: fit-content;
}


.form-control {
    border: 2px solid #dadada;
    border-radius: 7px;
    height: 30px;
    width: 300px;
}

.form-control:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.book_img img {
    width: 30px;
    height: 100px;

}

button {
    padding: 5px 6px;
    cursor: pointer;
}

.btn {
    font-size: 13px;
    background-color: rgb(0,0,0); /*Black fallback color*/
    background-color: rgba(0,0,0, 0.85); /*Black w/opacity */
    color: honeydew;
    border: 2px solid #dadada;
    border-radius: 7px;
    transition: all 0.5s ease-in-out;

}

.noborder {
    font-size: 10px;
    border: none;
    background-color: rgba(0,0,0,0.01);
}




.btn:hover, 
.active,
.intro:hover {
    transform: scale(1.05, 1.05);
    transition: all 0.25s ease-in-out; 
} 

/* 
@keyframes expansion {
    from {
    }

    to {
        background-color: aliceblue;
        color: rgba(0,9,23,0.9);
        outline: none;
        transform: scale(1.4, 1.4);
        border-radius: 15px;
    } */
/* }  */  

.intro {
    margin: auto;
    width: fit-content;
    text-align: center;
}











/*
Main Views
*/










.wrapper {
    display: grid;
    grid-gap: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

/* .card {
    border: aliceblue solid 3px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
} */

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    border: solid 2px black;
    border-radius: 15px;

    /* box-shadow: rgba(3, 8, 20, 0.1) 0px 0.5rem 0.8rem, rgba(2, 8, 20, 0.1) 0px 0.27rem 0.575rem; */
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    background-color: rgba(3, 8, 20, 0.1);
    
    height: fit-content;
    width: auto;
    opacity: 0;

    transform: translateY(4em) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1),
                opacity .3s .25s ease-out;

    overflow: hidden;
    cursor: pointer;
    
    will-change: transform, opacity;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.is-visible {
    opacity: 1;
    transform: rotateZ(-10deg);
}




.card img {
    display: block;
    width: 100%;
    height: auto;
    min-height: 230px;
}

.card-wrapper {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.6);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.card:hover .card-wrapper {
    height: 100%;
    bottom: 0;
    box-shadow: rgb(3 8 20 / 10%) 0px 0.5rem 0.8rem, rgb(2 8 20 / 10%) 0px 0.27rem 0.575rem;
    transform: translateY(-3px) scale(1.1);
}

.card-content {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.card-buttons form,
.card-buttons {
    margin-top: 10px;
}











/*
Cookbook
Recipe 
Cards 
*/







.main_header {
    text-align: center;
}

.pb-container {
    width: 70%;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: 0;
    
    margin: 50px auto;
    background: white;
}

.photobanner {
    height: 220px;
    white-space: nowrap;

}

::-webkit-scrollbar {
    display: none;
}

.photobanner img {
    margin: 15px;
    height: 180px;
    width: 154px;
    border-radius: 50px;
}

.photobanner img:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 15px -10px tomato;
    transition: all 0.25s linear;
}

.photobanner img:active {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 15px -10px blue;
    transition: all 0.25s linear;
  }

.cookbook {
    width: 93%;
    margin: 0px auto;
    max-height: 100%;
}




.recipe_header {
    opacity: 1;
    /* transform: translateX(-200px); */
    transition: all 1s;
    will-change: opacity, transform;
    margin: 200px auto;
    max-height: 100%;
    width: 100%;
    opacity: 0;
    transform: translateX(-100px);
}

.is-visible {
    opacity: 1;
    transform: translateX(0);
}


/* 
.recipe_header:nth-of-type(1) {
    margin-top: 100px;

} */



.recipe_title { 
    border-radius: 15px;
    transition: all ease-in-out 0.15s;
}


.recipe_image{
    /* grid-column: span 3; */
    height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-size: auto;
    border-radius: 15px 15px 0 0;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.2); /* Black w/opacity */
}


.recipe-name {
    text-align: center;
    z-index: 1;
    color: rgb(235, 229, 229);
    font-size: 1.5em;
    border-radius: 15px;
}

.accordion {
    padding: 2vw;

    background: linear-gradient(rgba(240, 236, 234, 0.925) 30%,rgba(156, 98, 50, 0.603));
    z-index: 1;
    border-radius: 0 0 15px 15px;
    color: black;
    
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap: 2vw;
    
}
.accordion-item {
    text-align: center;
    overflow: scroll;
    
}

.accordion-item:first-of-type {
    grid-column: span 2;
}


/* .recipe_image {
    grid-column: span 2;
    grid-row: 1;
    margin: 0 auto;
    width: 100%;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    height: 200px;
} */


.collapse-field {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 0;
    transition: all 1s;
    border-radius: 15px;
    text-shadow: 0.5px 0.5px 1px #000000;
}

.open_coll {
    max-height: 600px;
}

.collapse-field.instructions {
    line-height: 35px;
}

.accordion-body.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ingredients li {
    padding: 10px;
}


.targeter {
    margin: 0px 10px 10px 0px;
    display: inline-block;
    color: black;
}






/*
Ad Ons
*/
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0;
    transition: all ease-in-out 0.25s;
    text-align: center;
    z-index: 3;
}







/*

Shopping
List 
Styling

*/










/*
Overlay 
COntent
*/

.overlay{
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content a {
    color: #818181;
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.4s;

}

.overlay-content a:hover,
.overlay-content a:focus {
    color: seashell;
}

.btn.close {
    position: absolute;
    top: 2%;
    right: 15%;
    font-size: 45px;
}



/*

CheckBox
Styling

*/


.main_header {
    margin-bottom: 80px;
}

.main_block {

    margin-bottom: 100px;
}

.shoplist_container {
    display: grid;
    margin: 0 0 0 15%;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 13px;
    background-color: #000000e0;
    color: white;
    border-radius: 20px 0 0 20px;
    min-height: 180px;
}


.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: transparent;
    border: 2px solid #7C7A7D;
    border-radius: 5px;
    margin: 0;
    outline: none;
    transition: 0.5s ease;
    opacity: 0.8;
    cursor: pointer;
}


.checkbox:checked {
    border-color: #7C7A7D;
    background-color: #772924;
}


.checkbox:checked:before {
   display: block;
   content: '\2713';
   text-align: center;
   color: #FFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 800;
}


.checkbox:hover {
   opacity: 1.0;
   transform: scale(1.05);
}

.ing_check.checkbox {
    width: 20px;
    height: 20px;
}

.ing_check.checkbox:checked {
    background-color: rgba(27, 27, 78, 0.753);
}

.Ing_div {
    /* background-color: #000000e0; */
    padding: 20px 0;
    position: relative;
}

.background_block {
    min-height: 400px;
    max-height: 600px;
    width: 85%;
    background-color: #000000e0;
    position: absolute;
    z-index: 0;
    border-radius: 0 20px 20px 0;
}


.ing_container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}



.ing_list {
    text-align: start;
    list-style: none;
    
}

.ings, .ings_new {
    margin: 0 auto;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.ing_subContainer {
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: rgb(3 8 20 / 10%) 0px 0.5rem 0.8rem, rgb(2 8 20 / 10%) 0px 0.27rem 0.575rem;
    background: linear-gradient(rgba(240, 236, 234, 0.925),rgba(156, 112, 76, 0.719));
    /* background: linear-gradient(rgba(240, 236, 234, 0.925),rgba(26, 20, 15, 0)); */

    margin: 30px auto;
    min-height: 150px;
}

.ing_subContainer:hover {
    transform: scale(1.005);
    transition: 0.25s all ease-in-out;
}




    

/*
Media 
Queries 
*/
@media (max-width: 700px) {
    .card-content {
        font-size: 10px;
    }
    .btn-noborder {
        font-size: 10px;
    }
    

    .all_ingredients,
    .all_new_ingredients,
    .ings,
    .ings_new {
        margin: 0;
        padding: 0;
    }
    
}


@media (max-width: 1100px) {
    .navbar-items, 
    .navbar-logout{
        opacity: 0;
    }
    .navbar-collapse .open {
        opacity: 1;
    }
    .ing_container {
        width: 89%;
    }
}


@media (max-width: 600px) {
    .cookbook {
        width: 98%;
    }

}

@media (max-width: 1000px) {
    .accordion-item {
        grid-column: span 2;
    }
}
